@using Microsoft.AspNetCore.Identity
@using login.Models;
@using login.Logic;


@{
    ViewData["AccountInfor"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Diet> diets = ViewBag.recomanderfood;
    User user = ViewBag.User;
    UserInfor userinfor = ViewBag.Data;
    Dictionary<int, List<Food>> foodfor7day = ViewBag.foodFinal;
    int day = ViewBag.day;
    List<DVT> dVTs = ViewBag.dvts;
    List<float> caloneedBref = ViewBag.Datacalo;
    List<Dictionary<int, Food>> monphus = ViewBag.monphu;
}
<head>

    <link href="/css/Account.css" rel="stylesheet" />

</head>

<body>
    <div class="row rowavt">

        @{

            string age;
            string sex;
            string height;
            string weight;
            int hoatdong=0;
            int mucdich = 0;
            if (userinfor is null)
            {
                age = "chua nhap";
                sex = "chua nhap";
                height = "chua nhap";
                weight = "chua nhap";

            }

            else
            {
                //InforUser inforUser;

                hoatdong = userinfor.Activ;
                age = userinfor.ages.ToString();
                sex = userinfor.sexs.ToString();
                height = userinfor.heights.ToString();
                weight = userinfor.weigh.ToString();
                hoatdong = userinfor.Activ;
                mucdich = userinfor.Mucdich;


                //if (user.users is null)
                //{
                //    age = sex = height = weight = "";
                //}
                //else
                //{
                //    if (user.users.FirstOrDefault(p => p.username == user.UserName) is null)
                //    {
                //        inforUser = new InforUser(user.UserName);
                //        age = sex = height = weight = "";
                //    }
                //    else
                //    {
                //        inforUser = new InforUser(user.users.FirstOrDefault(p => p.username == user.UserName));
                //        age = inforUser.age.ToString();
                //        sex = inforUser.sex.ToString();
                //        height = inforUser.height.ToString();
                //        weight = inforUser.weight.ToString();

                //    }
                //}
            }

        }
        <div class="col-2">
            <form asp-controller="Home" asp-action="accountInfor" method="post">
                <div class="row">
                    <div class="cardinfor">

                    <div class=" row">
                        <label>Tài khoản :  </label>
                        <p>
                            @User.Identity.Name
                        </p>
                    </div>

                    <div class=" row">

                        <label>Tuổi :  </label>
                        <input id="textInfor" name="age" type="text" ariaReadOnly value=@age />

                        <div class=" row">
                            <label>Chiều cao :  </label>
                            <input id="textInfor" name="height" type="text" ariaReadOnly value=@height />
                        </div>
                        <div class=" row">
                            <label>Giới tính :  </label>
                                @{
                                    string gioitinh = "";
                                    if(sex=="0"){
                                        gioitinh = "Nữ";
                                    }
                                    else
                                    {
                                        gioitinh = "Nam";
                                    }
                                }
                            <input id="textInfor" name="sex" ariaReadOnly value=@sex />
                        </div>
                        <div class=" row">
                            <label>Cân nặng :  </label>

                            <input id="textInfor" name="weight" ariaReadOnly value=@weight />
                        </div>


                        <input type="submit" class="savebtn" value="Save" width="50" />

                    </div>
                </div>
               </div>
             </form>
          
               
                <div class="row">
                   
                        <div class="row">
                            <div class="cardimb">
                                <p>
                                    Chỉ số sức khỏe của bạn @ViewBag.BMI
                                </p>
                                
                                @{
                                    float valueIBMPercent = (ViewBag.BMI - 10) / 50 * 100;
                                }
                                <progress id="prosBarIbm" value=@valueIBMPercent max="100"></progress>
                              
                                <p>
                                    Tính trạng của bạn: 
                                    <div>
                                        <p>
                                        @{
                                            IBM iBM = new IBM(ViewBag.BMI);
                                            string kq = iBM.ketqua();
                                        }
                                        @kq
                                </p>
                                    </div>
                                </p>
                                <p>
                                    @{
                                        BMR bMR = new BMR(int.Parse(sex), int.Parse(height), int.Parse(weight), int.Parse(age),hoatdong,mucdich);
                                        float caloriesneed = bMR.TDEE();
                                    }
                                    Calo bạn nên ăn trong 1 ngày :  @caloriesneed
                                </p>
                            </div>

                        

                    </div>
                </div>
                
           
        </div>
       
        <div class="col-10">
            <div class="row">
                <div class="col-lg-1">
                   <div class="r7ngay">
                       <span>Ngày :</span>
                   </div>
                 
                        <div class="gruop-bnt-hover">

                        @for(int i =1; i<8 ;i++){
                            <button class="btn btn-all" type="button" name="days" value=@i asp-controller="Home" asp-action="check" onclick="location.href='@Url.Action("accountInfor","Home", new {id=i})'">@i</button>
                        }
                       @* }*@
                            @*<div class="btn btn-all">
                                <span>2</span>
                            </div>
                            <div class="btn btn-all">
                                <span>3</span>
                            </div>
                            <div class="btn btn-all">
                                <span>4</span>
                            </div>
                            <div class="btn btn-all">
                                <span>5</span>
                            </div> 
                            <div class="btn btn-all">
                                <span>6</span>
                            </div>
                            <div class="btn btn-all">
                                <span>7</span>
                            </div>*@
                        </div>
                   
                </div>
                <div class="col-lg-11">

                    @{
                      
                        if (day != 90)
                        {
                            List<Food> foodforoneday = foodfor7day[day];
                            Dictionary<int,Food> monphu1ngay = monphus[day];
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-main table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Ảnh</th>
                                                    <th>Tên món chính & nội dung</th>
                                                    <th>Cale/kg</th>
                                                    <th>Don vi tinh</th>
                                                    <th>Calo</th>
                                                    <th>Món phụ</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                @{
                                                    int buoi = 0;
                                                }
                                                @foreach (Food item in foodforoneday)
                                                {
                                                    

                                                    <tr>
                                                        <td class="img-thumbnails">
                                                            <a href="#">
                                                                <img class="img-fluid" src="~/Food/images/food11.png" alt />
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="#">
                                                                @item.Name 
                                                            </a>
                                                        </td>
                                                        <td>
                                                            @{
                                                                float calomonchinh = item.Calo * 70 / 100;
                                                                float calomonphu = item.Calo * 30 / 100;
                                                            }
                                                            <p>@calomonchinh/@calomonphu</p>
                                                        </td>
                                                        <td class="khoiluong">
                                                            @{
                                                                string dvt = dVTs.FirstOrDefault(x => x.Id == item.DVTid).Name;
                                                            }
                                                           <p>@dvt</p>
                                                        </td>
                                                        <td class="Calo/Buoi">
                                                            <p>@caloneedBref[buoi]</p>
                                                           
                                                        </td>
                                                        <td>
                                                            @{
                                                                string tenmonphu = monphu1ngay[buoi].Name;
                                                            }
                                                            @tenmonphu
                                                        </td>
                                                        @{
                                                            buoi++;
                                                        }
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-main table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Ảnh</th>
                                                    <th>Tên món & nội dung</th>
                                                    <th>Calo</th>
                                                    <th>Đơn vị tính</th>
                                                    <th>Change</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                @for(int i =0;i<3;i++)
                                                {

                                
                                                  <tr>
                                                        <td class="img-thumbnails">
                                                            <a href="#">
                                                                <img class="img-fluid" src="~/Food/images/food11.png" alt />
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="#">
                                                               Chua co
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <p>Chua co</p>
                                                        </td>
                                                        <td class="khoiluong">
                                                            <input type="number" size="4" value="Chua co" min="0" readonly />
                                                        </td>
                                                        <td class="changeFood">
                                                            <a href="#">
                                                                <i class="fas fa-times"></i>
                                                            </a>
                                                        </td>
                                                    </tr>

                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }

             
                    <div class="row">
                         <div class="text-box-button">
                          
                            <a href="/Home/Recommand" class="btn btn-white btn-animate">Gợi ý món ăn cho 7 ngày</a>
                         </div>
                    </div>

                </div>
            </div>
         
           
            
        </div>
        
     
       

    </div>
    <script>
        function changeFunc() {
            var text = document.getElementById("textInfor");
            if (text != null) {
                document.getElementById("textInfor").ariaReadOnly = false;
                document.getElementById("textInfor").style.borderColor = "grey";
                document.getElementById("textInfor").style.boxShadow = 4;
                document.getElementById("textInfor").style.border = true;
            }

        }
    </script>
</body>