@model IEnumerable<login.Models.Food>
@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<FoodContent> foodcontentlist = ViewBag.foodContent;
}
<body> 
    <section class="popular" id="popular">
        <h1 class="heading">Most <span>Popular </span> foods</h1>
        
        <div style="max-width: 700px; margin: 0 auto; padding:0 35px 0 5px ">
            <div class="row">
                <form asp-controller="Home" asp-action="Recipes">
                    <p>
                        @Html.TextBox("Search","", new {@class="inputrecip"})
                        <input class="btnrecip" type="submit" value="Search" />
                    </p>
                </form>
            </div>
        </div>

        <div class="box-container">
            <div class="boxx">           
                @foreach (var item in Model){                         
                        <a class="row" asp-action="Detail" asp-route-id="@item.Id">
                           
                            @{
                                string link;
                                if (foodcontentlist.FirstOrDefault(p => p.FoodId == item.Id) == null)
                                {
                                    link = "../Content/imageforbackground/repis.png";
                                }
                                else
                                {
                                    link = foodcontentlist.FirstOrDefault(p => p.FoodId == item.Id).Img.ToString();
                                }
                            }
                        
                            <p>
                                <img class="imgGoods" src=@link alt="hinh thumnail">
                            </p>

                            <div class="intro">
                                <h1>@item.Name</h1>
                                <p>@item.Calo Calries</p>
                                <p>@item.Bref</p>
                            </div>
                        </a>             
                }
           
            </div>
        </div>
     

    </section>
   @SectionWriters scriptsbas
    <script>
        $(function(){
            $("#basic-text1").click(function()){
                $("Form").submit();
            }
        });
    </script>
    }
</body>

