@model IEnumerable<login.Models.Food>
@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<FoodContent> foodcontentlist = ViewBag.foodContent;
}
<body>

@*---------test-------*@
@*    <section class="our-menu section bg-light repeat-img" id="menu">
        <div class="sec-wp">
            <div class="container">
                <div class="menu-list-row">
                    <div class="row g-xxl-5 bydefault_show" id="menu-dish">
                        <div class="col-lg-4 col-sm-6 dish-box-wp breakfast" data-cat="breakfast">
                            <div class="dish-box text-center">
                                <div class="dist-img">
                                    <img src="~/Content/images/bt1.jpg" alt="">
                                </div>
                                <div class="dish-title">
                                    <h3 class="h3-title">Fresh Chicken Veggies</h3>
                                    <p>120 calories</p>
                                </div>
                                <div class="dish-info">
                                    <ul>
                                        <li>
                                            <p>Type</p>
                                            <b>Non Veg</b>
                                        </li>
                                        <li>
                                            <p>Persons</p>
                                            <b>2</b>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dist-bottom-row">
                                    <ul>
                                        <li>
                                            <b>Rs. 499</b>
                                        </li>
                                        <li>
                                            <button class="dish-add-btn">
                                                <ion-icon name="heart"></ion-icon>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    @*----------------------------------------------------*@
<div id="viewport">
<div id="js-scroll-content">
<section class="our-menu section bg-light repeat-img" id="menu">
    <div class="sec-wp">
        <h1 class="heading">Most <span>Popular </span> foods</h1>     
        <div style="max-width: 700px; margin: 0 auto; padding:0 35px 0 5px ">
            <div class="row">
                <form asp-controller="Home" asp-action="Recipes">
                    <p>
                        @Html.TextBox("Search","", new {@class="inputrecip"})
                        <input class="btnrecip" type="submit" value="Search" />
                    </p>
                </form>
            </div>
        </div>

        <div class="container">
            <div class="menu-list-row">
                <div class="row g-xxl-5 bydefault_show" id="menu-dish">
                    <div class="col-lg6 col-sm6 dish-box-wp breakfast" data-cat="breakfast">
                        @foreach (var item in Model){
                            <a class="dish-box text-center " asp-action="Detail" asp-route-id="@item.Id">
                           
                            @{
                                string link;
                                if (foodcontentlist.FirstOrDefault(p => p.FoodId == item.Id) == null)
                                {
                                    link = "../Content/imageforbackground/repis.png";
                                }
                                else
                                {
                                    link = foodcontentlist.FirstOrDefault(p => p.FoodId == item.Id).Img.ToString();
                                }
                            }
                                   <img class="imgGoods" src=@link alt="hinh thumnail">

                            <div class="dish-title">
                                <h3 class="h3-title">@item.Name</h3>
                                <p>@item.Calo Calries</p>    
                            </div>

                            <div class="dish-info">
                                 <ul>
                                    <li>  <p>@item.Bref</p>  </li>                                               
                                     
                                    <li>
                                        <button class="dish-add-btn">
                                            <ion-icon name="heart"></ion-icon>
                                        </button>
                                    </li>
                                 </ul>
                            </div>
                            </a>             
                        }          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>






   @SectionWriters scriptsbas
    <script>
        $(function(){
            $("#basic-text1").click(function()){
                $("Form").submit();
            }
        });
    </script>
    }
</body>

